* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    margin: 0;
}

#nav-menu {
    width: 100%;
    height: 100vh;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav_bottom {
    box-shadow: 0px 0px 10px rgb(167, 167, 167);
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 55px;
}

.masque {
    width: 100%;
    height: 50px;
}

.nav_item {
    color: gray;
    font-size: 20px;
    transition: .2s;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.nav_item:hover {
text-decoration:none;
    color: #fff;
    font-size: 25px;
    transition: .2s cubic-bezier(0.68, -0.19, 0.32, 1.6);
    border-radius: 50%;
    transform: translateY(-18px);
}

.nav_item:hover::after {
    border: 8px solid #fff;
    background-color: red;
    transition: .5s;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 50px;
    height: 50px;
    content: '';
    text-decoration:none
}

@keyframes mo {
    from {
        height: 0px;
        width: 0px;
    }
    to {
        height: 60px;
        width: 65px;
    }
}